body{
  margin: 0;
  padding: 0;
  background-color: #303030;
  color: white;
  text-align: center;
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size: 1rem;
  font-weight: 300;
  box-sizing: border-box;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.container {
  margin: 5rem;
  display: grid;
  justify-content: center;
  min-height: 100vh;
  grid-template-columns: repeat(1, 300px);
  grid-template-rows: repeat(4, 60px);
}

.container > h1 {
  margin: 5px;
}

.container > input {
  background: #303030;
	justify-content: center;
  border: 2px solid white;
	outline: none;
	border-radius: 10px;
  color: white;
  display: inline-block;
  padding: 10px;
  margin: 5px;
  font-size: 1rem;
}

.container > button {
  background:rgb(0, 200, 0);
	justify-content: center;
  border: none;
	outline: none;
	border-radius: 10px;
  color: white;
  display: inline-block;
  padding: 10px;
  margin: 5px;
  font-size: 1.2rem;
  cursor: pointer;
}

.container-2 {
  margin: 2rem;
  display: grid;
  justify-content: left;
  min-height: 100vh;
  grid-template-columns: repeat(1, 300px);
  grid-template-rows: repeat(4, 60px);
}

.container-2 > h1 {
  margin: 5px;
}
